CHR000 RCDATA "basepals\\chr000.png"
CHR001 RCDATA "basepals\\chr001.png"
CHR001_P1 RCDATA "basepals\\chr001_p1.png"
CHR002 RCDATA "basepals\\chr002.png"
CHR003 RCDATA "basepals\\chr003.png"
CHR004 RCDATA "basepals\\chr004.png"
CHR005 RCDATA "basepals\\chr005.png"
CHR006 RCDATA "basepals\\chr006.png"
CHR008 RCDATA "basepals\\chr008.png"
CHR009 RCDATA "basepals\\chr009.png"
CHR010 RCDATA "basepals\\chr010.png"
CHR011 RCDATA "basepals\\chr011.png"
CHR011_P1 RCDATA "basepals\\chr011_p1.png"
CHR012 RCDATA "basepals\\chr012.png"
CHR013 RCDATA "basepals\\chr013.png"
CHR014 RCDATA "basepals\\chr014.png"
CHR015 RCDATA "basepals\\chr015.png"
CHR016 RCDATA "basepals\\chr016.png"
CHR017 RCDATA "basepals\\chr017.png"
CHR017_P1 RCDATA "basepals\\chr017_p1.png"
CHR018 RCDATA "basepals\\chr018.png"
CHR019 RCDATA "basepals\\chr019.png"
CHR019_P1 RCDATA "basepals\\chr019_p1.png"
CHR019_P3 RCDATA "basepals\\chr019_p3.png"
CHR020 RCDATA "basepals\\chr020.png"
CHR021 RCDATA "basepals\\chr021.png"
CHR022 RCDATA "basepals\\chr022.png"
