#include <windows.h>

#include "../src/Core/info.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION MBTL_IM_VERSION_MAJOR, MBTL_IM_VERSION_MINOR, MBTL_IM_VERSION_PATCH, 0
PRODUCTVERSION MBTL_IM_VERSION_MAJOR, MBTL_IM_VERSION_MINOR, MBTL_IM_VERSION_PATCH, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Zanaylo"
            VALUE "FileDescription", MBTL_IM_NAME
            VALUE "FileVersion", MBTL_IM_VERSION
            VALUE "InternalName", "dinput8"
            VALUE "OriginalFilename", "dinput8.dll"
            VALUE "ProductName", MBTL_IM_NAME
            VALUE "ProductVersion", MBTL_IM_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#include "shaderexamples.rc"
#include "basepals.rc"
#include "cards.rc"
